<% include ../pages/header %>

  <div class="ui comments">

      <div class="comment">
        <a href="/message/<%= message.id %>">
          <img src="/assets/user.png" alt="user">
        </a>

        <div class="content">

          <div class="metadata">
            <div class="date">
              <%= message.created_at.fromNow() %>
            </div>
          </div>

          <div class="text">
            <%= message.content %>
          </div>

        </div>
      </div>


  </div>

  <% include ../pages/footer %>
